/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #61160c;
  color: rgb(31, 22, 22);
  transition: 0.3s, color 0.3s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 20px;

}

header h1{
  color: orange;
  font-weight: bold;
  font-size: 40px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.controls input, .controls button, .controls select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #9dcf12;
  transition: 0.3s, transform 0.2s;
}

 .controls select:hover{
  transform: scale(1.1);
  background-color: rgb(15, 141, 82);
}

/* Periodic Table */
#periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  gap: 5px;
  margin-bottom: 20px;
}

.element {
  padding: 15px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
  transition:  0.3s, transform 0.2s;
}

.element:hover {
  transform: scale(1.1);
  background-color: #0ae08e;
}

/* Color Coding */
.metal { background-color: #ffcccb; }
.non-metal { background-color: #c2f0c2; }
.noble-gas { background-color: #c2e0ff; }
.alkali-metal { background-color: #ffcc99; }
.alkaline-earth { background-color: #ffcc66; }
.transition-metal { background-color: #ffcc33; }
.halogen { background-color: #c2f0c2; }
.lanthanide { background-color: #c2e0ff; }
.actinide { background-color: #c2e0ff; }

/* Details Panel */
#details-panel {
  padding: 20px;
  border: 1px solid #a09109;
  background-color: green;
  border-radius: 15px;
  margin-top: 20px;
  color:orange;
}

/* Dark Mode */
.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode #details-panel,
.dark-mode .element {
  background-color: #444;
  color: #fff;
  border-color: #555;
}

.footer{
background-color:rgb(40, 98, 255);
Padding:20px;
Margin: 0.5rem;
border-radius: 15px;
color: #ccc;
font-weight: bold;
text-align: center;
} 

.logo{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

/* Responsive Design */
@media (max-width: 768px) {
  #periodic-table {
    grid-template-columns: repeat(10, 1fr);
  }
}

